$primary: #6d1cc8;
$common: #fff;
$uncommon: #2fc647;
$rare: #009cff;
$very-rare: #c087ff;
$legendary: #ffc805;
$artifact: #ba6236;
$unknown: #747474;
$background-top: #6d1cc8;
$background-bottom: #090979;
$font-color: #fff;
$shadow: rgba(0, 0, 0, .5);


@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'DancingScript';
  font-weight: normal;
  src: local('DancingScript'),
  url('./fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

html {
  font-size: 1.75rem;
  height: 100%;
  margin: auto;
  max-width: 1400px;
}

body {
  background: linear-gradient(180deg, $background-top 20%, $background-bottom 100%);
  background-attachment: fixed;
  color: $font-color;
  height: 100%;
}

ul {
  padding-left: 0;
}

.container {
  margin: auto;
  max-width: 1400px;
}

.page-name {
  font-family: DancingScript;
  font-size: 2.1rem;
}

.no-pad-sides {
  padding: 0;
}

.artifact-name {
  font-family: DancingScript;
  font-size: 1.4rem;
  font-weight: bolder;

  p {
    margin-bottom: 0;
  }
}

.artifact-rarity {
  font-size: .9rem;
}

.artifact-info {
  border-style: solid double;
  margin-top: 5px;
}

.artifact-description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.btn-outline-primary {
  a {
    color: $font-color;
  }
}

.form-check {
  input {
    padding: 10px;
    transform: scale(2);
  }
}

.form-check-input {
  margin-top: 15px;
}

.common-color {
  color: $common;
  text-shadow: 0 2px 2px $shadow;
}

.uncommon-color {
  color: $uncommon;
  text-shadow: 0 2px 2px $shadow;
}

.rare-color {
  color: $rare;
  text-shadow: 0 2px 2px $shadow;
}

.very-rare-color {
  color: $very-rare;
  text-shadow: 0 2px 2px $shadow;
}

.legendary-color {
  color: $legendary;
  text-shadow: 0 2px 2px $shadow;
}

.artifact-color {
  color: $artifact;
  text-shadow: 0 2px 2px $shadow;
}

.unknown-rarity-color {
  color: $unknown;
  text-shadow: 0 2px 2px $shadow;
}
